*,
*::before,
*::after {
  background-color: #111;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  color: #fff;
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 8px;
  /* height: 50px; */
}
#game {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#keyboard {
  width: 100%;
  margin: 0 8px;
  /* margin-bottom: 50px; */
}
.keyboard.row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}
.spacer.half {
  flex: 0.5;
}
.one-and-a-half {
  flex: 1.5;
  font-size: 12px;
}
button {
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(211, 211, 211, 0.63);
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.key {
  /* font-family: inherit; */
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(211, 211, 211, 0.63);
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.key.correct {
  background-color: hsl(115, 25%, 50%);
  border: none;
}
.key.wrong {
  background-color: hsl(200, 1%, 20%);
  border: none;
}
.key.present {
  background-color: hsl(50, 50%, 50%);
  border: none;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}
#board {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}
.board.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  width: 100%;
  display: inline-flex; /* why inline-flex and not flex? */
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid rgba(128, 128, 128, 0.288);
}
.tile.active {
  animation: zoom-in-zoom-out 50ms ease;
  border-color: rgba(235, 235, 235, 0.432);
}
.tile.wrong {
  background-color: hsl(200, 1%, 20%);
  border: none;
}
.tile.present {
  background-color: hsl(50, 50%, 50%);
  border: none;
}
.tile.correct {
  background-color: hsl(115, 25%, 50%);
  border: none;
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

.tile.flip {
  transform: rotateX(90deg);
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

.alert-container {
  position: fixed;
  top: 12vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  font-weight: bold;
  pointer-events: none;
  background-color: #fff;
  padding: 1em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  /* look up this ^ */
  margin-bottom: 0.5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}
